.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  


.body-bg{
    background-color: #F1F1F3;
}
/* header */

.top-head{
    display: flex;
    
    justify-content: space-between;
    margin: 31px 160px 31px 160px;
}
.bd{
    font-size: 32px;
    font-weight: bold;
    
}
nav div ul li{
    list-style: none;
    
}
.top-btn{
    background-color: #F5F5F5;
    border-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    
    

}
.sign{
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    
}
.top-btn:hover{
    background-color: #e6e3e3;
}

.top-banner{
    display: flex;
    align-items: center;
    gap: 64px;
    
}
.top-para{
    font-size: 56px;
    font-weight: bold;
}

.bg-1{
    background-color: #C6E4D6;
    height: 560px;
    width: 1240px;
    padding: 60px;
    border-radius: 24px;
    margin: 20px 160px;
}
.bd2{
    color: #0E0E0E ;opacity:0.5;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 117px;
}
.click{
    background-color: #006A50;
    border-radius: 8px;
    height: 56px;
    width: 270px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    
}

/* Main body */

.heading{
    font-size: 40px;
    font-weight: bold;

}

.pillers{
    margin: 80px 160px 32px 160px;
    
}

.pillers-bd{
    display: flex;
    gap: 24px;
    margin: 32px 160px;

    
}

.pillers-name{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 16px;
    height: 244px;
    width: 302px;
    
} 

.piller-title{
    font-size: 20px;
    font-weight: bold;
}

.piller-des{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;opacity: 0.7;
}

.vision-des{
    margin: 24px 160px 32px 160px;
}

.vision-container{
    display: flex;
    gap: 24px;
    margin: 32px 160px;
}

.visions1{
    background-color: #bcceed;
    height: 275px;
    width: 390px;
    border-radius: 16px;
    border-color: none;
    padding: 32px;
}

.visions2{
    background-color: #C6E4D6;
    height: 275px;
    width: 390px;
    border-radius: 16px;
    border-color: none;
    padding: 32px;
}

.visions3{
    background-color: #F7EBCF;
    height: 275px;
    width: 390px;
    border-radius: 16px;
    border-color: none;
    padding: 32px;
}

.learn-more1{
    background-color: #5490F5;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 20px;
    margin-top: 15px;

}
.learn-more1:hover{
    background-color: #4b81df;
}

.learn-more2{
    background-color: #09A15C;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 20px;
    margin-top: 35px;

}
.learn-more2:hover{
    background-color: #0b9356;
}

.learn-more3{
    background-color: #FFC239;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 20px;
    margin-top: 35px;

}
.learn-more3:hover{
    background-color: #f0bc43;
}

.vision-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E; opacity: 0.8;
}

.quote{
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 1290px;
    height: 200px;
    margin: 32px 160px;
    padding: 30px;
}
.quote-des{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;opacity: 0.8;
    margin-top: -35px;
    margin-right: 20px;
}
.quote-from{
    font-size: 20px;
    font-weight: 600px;
    color: #0E0E0E;opacity: 0.8;
    margin-bottom: 4px;
}
.about-him{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;opacity: 0.6;
    margin-top: 0px;
    
}
.quote-img{
    margin-bottom: 0px;
}

/* table */

.opinion-table{
    background-color: #FFFFFF;
    padding: 10px;
    width: 1330px;
    height: 355px;
    margin: 32px 160px;
    border-radius: 16px;

}
.table{
    border-collapse: collapse;
    background-color: #FFFFFF;
    width: 1258px;
    height: 300px;
    margin: 30px;
    
}

.tr-head{
    border: 1px solid ;
    border-color: #d8d3d3;
    height: 72px;
    background-color: #C6E4D6;
}
.td-head{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.td-body{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid ;
    padding: 10px;
    border-color: #d8d3d3;  
    margin: 32px;
}

.select-opt{
    width: 152px;
    height: 44px;
    border-radius: 4px;
    border-color: #0E0E0E;
    background-color: #C6E4D6;
    margin-left: 35px;
}

/* satelite */

.satelite{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    width: 1250px;
    height: 310px;
    margin: 32px 160px;
    padding: 50px;
    gap: 30px;
}

.satelite-img{
    height: 306px;
    width: 408px;
    border-radius: 24px;
    
}

.satelite-title{
    font-size: 36px;
    font-weight: bold;
    color: #0E0E0E; opacity: 0.8;
    margin-bottom: 12px;
    margin-top: 10px;
}
.date{
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
    
}

.read-more{
    background-color: #006A50;
    height: 48px;
    width: 139px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.sat-des{
    margin-top: 0px;
}
.donation{
    text-align: center;
    margin-bottom: 20px;
}
.about-donation{
    text-align: center;
    margin: 0px 200px;
}

.donation-amount{
    display: flex;
    margin: 32px 260px;
    gap: 30px;
}
.donation-taka{
    height: 90px;
    width: 252px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border-color: #e8e5e5;
    font-size: 30px;
    font-weight: bold; opacity: 0.8;
    padding: 10px;
}

.donation-taka:hover{
    background-color: #C6E4D6;
}
.input-tk{
    text-align: center;
    justify-content: center;
    /* margin: 10px 250px; */
    
}
.input-amount{
    text-align: center;
    width: 950px;
    height: 45px;
    margin-right: 70px;
    background-color: #FFFFFF;
    border-color: #e9e4e4;
    color: #0E0E0E;opacity: 0.5;
    font-size: 20px;
    font-weight: 400;
    
}
.done-btn{
    /* justify-content: center; */
    text-align: center;
}
.done-now{
    background-color: #006A50;
    height: 48px;
    width: 139px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 25px;
}

/* Subscribe Newsletter */

.sub-newsletter{
    background-color: #C6E4D6;
    width: 1310px;
    height: 390px;
    margin: 45px 160px;
    padding: 20px;
    border-radius: 24px;
}
.newslett{
    text-align: center;
    margin: 0px 330px;
}
.Subscription{
    display: flex;
    gap: none;
    justify-content: center;
    margin-top: 25px;
    /* width: 100%; */
    height: 45px;
}
.Subscription input[type="email"]{
    width: 600px;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.Subscription button{
    width: 145px;
    border: none;
    background-color: #006A50;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
.Subscription button:hover{
    background-color: #045843;
}
.promise{
    margin-top: 25px;
    text-align: center;
}

/* footer */

.footer-bg{
    background-color: #FFFFFF;
    width: 100%;
    height: 145px;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

.footer-bd2{
    font-size: 32px;
    font-weight: bold;
}

.hr-line{
    color: #0E0E0E;opacity: 0.2;
    width: 70%;
}

.footer-img{
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 20px;
}

/* buttons effects */

.read-more:hover,  .done-now:hover, .click:hover{
    background-color: #034d3a;
}
.select-opt:hover{
    background-color: #a0cfb9;
}
